@import url("https://fonts.googleapis.com/css?family=Annie Use Your Telescope");

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400,300);

::-moz-selection { background: rgba(0,0,0,0.2); }
::selection { background: rgba(0,0,0,0.2); }

/**** Skip to line 36 for the hover code ****/

.about{
   position: absolute;
   right: 0px;
   align-content: flex end;
  font-size: 16px;
}


body {
  background-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.0em;
  margin: ;
  color: cyan;
}

h2 {
  max-width: 49rem;
  margin: ;
  font-size: 16px;
}

p {
  line-height: 1.5em;
  margin: 1.4em auto;
  font-weight: 300;
  font-size: 16px;
  position: absolute;
}

/** Code for hover info **/

dfn {
  background: black;
  border-bottom: dashed 1px rgba(0,0,0,0.8);
  padding: 0 0.4em;
  cursor: help;
  font-style: normal;
  position: relative;
}

dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
  width: 230px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0,0,0,0.8);
  color: #fff;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
}

dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px; left: 20px;
  opacity: 0;
  width: 0; height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0,0,0,0.8);
  transition: opacity 250ms, top 250ms;
}

dfn:hover {z-index: 2;} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 30px;}
dfn:hover::before {top: 20px;}

html,
body {
  height: 100%;
  font-family: "Annie Use Your Telescope";
  padding: 1em 2em;
  font-size: 10px;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4em 0;
}

h1 {
  font-size: 3.5em;
  color: cyan;
}

h2 {
  color: cyan;
  font-size: 2em;
}

body {
  background-image: url(http://examplesof.com/photography/blacknwhite/horse.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

div,
body {
  margin: 0;
  padding: 0;
  font-family: "Annie Use Your Telescope";
}

.wrapper {
  height: 100%;
  width: 100%;
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 45%;
  bottom: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.5em;
   float: right;
}

.headerbox {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: cyan;
  font-family: "Annie Use Your Telescope";
  float: right;
  font-size: 10px;
}
